/* Custom CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #EDEDED; /* Background color */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.jumbotron {
    margin-bottom: 0;
}

.logo {
    width: 50px;
}

.navbar {
    background-color: #D8D9CF; /* Navbar background color */
}

.nav-link {
    color: #FF8787; /* Link color */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #E26868; /* Hover color for navbar links */
}

.rent-btn {
    background-color: #FF8787; /* Button background color */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.rent-btn:hover {
    background-color: #E26868; /* Hover color for button */
}

.container h2 {
    margin-bottom: 20px;
    color: #E26868; /* Heading color */
}

/* Footer styling */
footer {
    background-color: #D8D9CF;
    color: #333333;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Ensure footer stays at bottom */
    width: 100%;
    position: relative;
    bottom: 0;
}
